.categories{
    overflow: hidden;
}
.categories .section_titles{
font-size: var(--h4-font-size);
margin-bottom: 1.5rem;
}
.categories .category_item .category_title {
color: var(--text-color);
font-size: var(--small-font-size);
}
.categories .section_titles span{
color: var(--first-color) !important;
}

.category_item{
text-align: center;
border: 1px solid var(--border-color);
padding: 0.625rem 1.25rem;
border-radius: 1.25rem;

}

.category_img{
border-radius: 0.75rem;
margin-bottom: 1.25rem;
}

.category_title{
color: var(--text-color);
font-size: var(--small-font-size);
}
.swiper{
overflow: initial;
}
.swiper-button-next::after,
.swiper-button-prev::after{
content: '';
}
.swiper-button-next,.swiper-button-prev{
top: -1.875rem;
background-color: var(--first-color-alt);
border: 1px solid var(--border-color);
width: 30px;
height: 30px;
border-radius: 50%;
color: var(--first-color);
font-size: var(--tiny-font-size);
}
.swiper-button-prev{
left: initial;
right: 2.5rem;
}
.swiper-button-next{
right: 0;
}


  